
// Nextflow Config File

// Defining Process Requirements
process {
	executor = 'slurm'
	containerEngine = 'apptainer'
	queue = 'epyc'

	// Resources for CheckM2
	withName: 'checkM2' {
		cpus = 8
		memory = '2 GB'
	}

}

// Enable Wave for Bioconda Containers
enableWave = true
docker.enabled = false

wave {
	eneabled = true
}


// Enable Singularity Containerisation

//NXF_TEMP = '/mnt/scratch45/c2006576/singularity/tmp/'
//APPTAINER_TMPDIR = '/mnt/scratch45/c2006576/singularity/cache/'

apptainer {
	enabled = true
	autoMounts = true
	cacheDir = '/mnt/scratch45/c2006576/singularity/cache/'
	//runOptions = '-B $APPTAINER_TMPDIR:/tmp -B $APPTAINER_TMPDIR:/scratch'
	//envWhitelist = ['APPTAINER_TMPDIR']
}
