// Assigning Default Parameters
//params {

//}

// Defining Process Requirements
process {
	executor = 'slurm'
	containerEngine = 'apptainer'
}

// Enable Wave for Bioconda Containers
enableWave = true
docker.enabled = false

wave {
	eneabled = true
}


// Enable Singularity Containerisation

apptainer {
	enabled = true
	autoMounts = true
	cacheDir = '/mnt/scratch45/c2006576/singularity/cache/'
}
